<script>
    import {olMap} from '../stores/mapStore';
    const handleClick = () => {
        $olMap.render();
    }
    export let layer;
</script>


<div class="layer-tree-item">
    <input type=checkbox on:click={handleClick} bind:checked={layer.values_.visible}>
    {layer.values_.title}
</div>


<style>
    .layer-tree-item {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        display: inline-block;
        width: 100%;
        padding: 10px;
        margin-right: 10px;
        background-color: lightgrey;
        border-radius: 4px;
    }
</style>