<script>
	import LayerTreeItem from './LayerTreeItem.svelte';
	import SortableList from './SortableList.svelte';
    import {olMap} from '../stores/mapStore';

    let list = $olMap.getLayers().array_;
    const sortList = ev => {
        list = ev.detail;
        $olMap.getLayers().array_ = list;
        $olMap.render();
        console.log();
        };
</script>

<div class="layer-tree">
    <SortableList
        {list} 
        key="ol_uid" 
        on:sort={sortList}
        let:item>
        <LayerTreeItem layer={item}></LayerTreeItem>
    </SortableList>
</div>

<style>
    .layer-tree {
        display: flex;
        flex-direction: column;
        margin: 5px;
    }
</style>