<script>
    import {onMount} from 'svelte';
    import {olLayers, olMap} from '../stores/mapStore';
    import LayerTree from './LayerTree.svelte';
    onMount(() => {
        $olMap.setTarget("map");
        console.log($olLayers);
    });

</script>

<div id="layout" class="layout-grid-area">
    <div id="map" class="map"></div>
    <div class="side">
        <LayerTree></LayerTree>
    </div>
</div>

<style>
    .layout-grid-area{
        display: grid;
        width: 100%;
        height: 100vh;
        margin: 0;
        padding: 0;
        grid-gap: 2px;

        grid-template-areas: "map side";
                           
        grid-template-rows: 100vh;
        grid-template-columns: 70vw 30vw;
        }

        .map{
        grid-area: map;
        position: relative;
        }

        .side{
        grid-area: side;
        }
</style>